
<body>
    <div class="container">
        <h1>Encuesta de Anime</h1>
        <form (ngSubmit)="OnSave" #encuestaForm="ngForm" method="post">
            <div class="question">
                <label for="q1">1. ¿Cuál es tu anime favorito?</label>
                <input [(ngModel)]="q1" type="text" id="q1" name="q1" required>
            </div>
            
            <div class="question">
                <label for="q2">2. ¿Cuántas horas a la semana ves anime?</label>
                <input   [(ngModel)]="q2"   type="text" id="q2" name="q2" required>
            </div>

            <div class="question">
                <label for="q3">3. ¿Prefieres anime subtitulado o doblado?</label>
                <input   [(ngModel)]="q3"   type="text" id="q3" name="q3" required>
            </div>

            <div class="question">
                <label for="q4">4. ¿Cuál es tu género de anime favorito?</label>
                <input [(ngModel)]="q4" type="text" id="q4" name="q4" required>
            </div>

            <div class="question">
                <label for="q5">5. ¿Has asistido a convenciones de anime?</label>
                <input [(ngModel)]="q5" type="text" id="q5" name="q5" required>
            </div>

            <div class="question">
                <label for="q6">6. ¿Recomendarías anime a tus amigos?</label>
                <input [(ngModel)]="q6" type="text" id="q6" name="q6" required>
            </div>

            <button type="button"  (click)="OnSave()">Enviar</button>
        </form>
    </div>
</body>

