

<button (click)="mostrarFormulario()">Mostrar Formulario 1</button>

<div *ngIf="formularioVisible">
  <form>
    <label for="pregunta1">Pregunta 1:</label>
    <input type="text" id="pregunta1" name="pregunta1">

    <label for="pregunta2">Pregunta 2:</label>
    <input type="text" id="pregunta1" name="pregunta2">

    <label for="pregunta3">Pregunta 3:</label>
    <input type="text" id="pregunta3" name="pregunta3">

  </form>
  <button (click)="cerrarFormulario()">Cerrar Formulario</button>
  <button (click)="enviarFormulario()">Enviar Formulario</button>
</div>


<button (click)="mostrarFormulario2()">Mostrar Formulario 2</button>

<div *ngIf="formularioVisible2">
  <form>
    <label for="pregunta1">Pregunta 1:</label>
    <input type="text" id="pregunta1" name="pregunta1">

    <label for="pregunta2">Pregunta 2:</label>
    <input type="text" id="pregunta1" name="pregunta2">

    <label for="pregunta3">Pregunta 3:</label>
    <input type="text" id="pregunta3" name="pregunta3">

  </form>
  <button (click)="cerrarFormulario2()">Cerrar Formulario</button>
  <button (click)="enviarFormulario2()">Enviar Formulario</button>
</div>



<button (click)="mostrarFormulario3()">Mostrar Formulario 3</button>

<div *ngIf="formularioVisible3">
  <form>
    <label for="pregunta1">Como:</label>
    <input type="text" id="pregunta1" name="pregunta1">

    <label for="pregunta2">Donde:</label>
    <input type="text" id="pregunta1" name="pregunta2">

    <label for="pregunta3">Tu nombre:</label>
    <input type="text" id="pregunta3" name="pregunta3">

  </form>
  <button (click)="cerrarFormulario3()">Cerrar Formulario</button>
  <button (click)="enviarFormulario3()">Enviar Formulario</button>
</div>
