<div class="body">
    <h2>Respuestas Primera encuesta</h2>
  
    <!-- componente-tabla.component.html -->
  <table>
    <thead>
      <tr>
        <th>Pregunta 1</th>
        <th>Pregunta 2</th>
        <th>Pregunta 3</th>
        <th>Pregunta 4</th>
        <th>Pregunta 5</th>
        <th>Pregunta 6</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let respuesta of respuestas">
        <td>{{ respuesta.q1 }}</td>
        <td>{{ respuesta.q2 }}</td>
        <td>{{ respuesta.q3 }}</td>
        <td>{{ respuesta.q4 }}</td>
        <td>{{ respuesta.q5 }}</td>
        <td>{{ respuesta.q6 }}</td>
      </tr>
    </tbody>
  </table>
  
  </div>





  <div class="body">
    <h2>Respuestas Segunda Encuesta</h2>
  
   <table>
    <thead>
      <tr>
        <th>Pregunta 1</th>
        <th>Pregunta 2</th>
        <th>Pregunta 3</th>
        <th>Pregunta 4</th>
        <th>Pregunta 5</th>
        <th>Pregunta 6</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let respuesta2 of respuestas2">
        <td>{{ respuesta2.q7 }}</td>
        <td>{{ respuesta2.q8 }}</td>
        <td>{{ respuesta2.q9 }}</td>
        <td>{{ respuesta2.q10 }}</td>
        <td>{{ respuesta2.q11 }}</td>
        <td>{{ respuesta2.q12 }}</td>
      </tr>
    </tbody>
  </table>
  
  </div>




  <div class="body">
    <h2>Respuestas Tercera Encuesta</h2>
  
    <!-- componente-tabla.component.html -->
  <table>
    <thead>
      <tr>
        <th>Pregunta 1</th>
        <th>Pregunta 2</th>
        <th>Pregunta 3</th>
        <th>Pregunta 4</th>
        <th>Pregunta 5</th>
        <th>Pregunta 6</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let respuesta3 of respuestas3">
        <td>{{ respuesta3.q13 }}</td>
        <td>{{ respuesta3.q14 }}</td>
        <td>{{ respuesta3.q15 }}</td>
        <td>{{ respuesta3.q16 }}</td>
        <td>{{ respuesta3.q17 }}</td>
        <td>{{ respuesta3.q18 }}</td>
      </tr>
    </tbody>
  </table>
  
  
  </div>