
<body>
  <div class="container">
    <h1>Encuesta de Videojuegos</h1>
    <form (ngSubmit)="OnSave2" #encuestaForm="ngForm" id="encuestaForm" method="post">
      <label for="nombre">1. ¿Cuál es tu nombre?</label>
      <input [(ngModel)]="q7" type="text" id="nombre" name="nombre" required>

      <label for="edad">2. ¿Cuál es tu edad?</label>
      <input [(ngModel)]="q8" type="text" id="edad" name="edad" required>

      <label for="genero">3. ¿Cuál es tu género favorito de videojuegos?</label>
      <input [(ngModel)]="q9" type="text" id="genero" name="genero" required>

      <label for="plataforma">4. ¿En qué plataforma sueles jugar más?</label>
      <input [(ngModel)]="q10" type="text" id="plataforma" name="plataforma" required>

      <label for="juego-fav">5. ¿Cuál es tu juego favorito?</label>
      <input [(ngModel)]="q11" type="text" id="juego-fav" name="juego-fav" required>

      <label for="opinion">6. ¿Quisieras agregar algún comentario adicional?</label>
      <textarea [(ngModel)]="q12" id="opinion" name="opinion"></textarea>

      <button type="button"  (click)="OnSave2()">Enviar Encuesta</button>
    </form>
  </div>
</body>
